header{
    background-color: blue;
    height: 100%;
    padding: 0px 24px;
}
.logo{
    margin: 0 auto;
    width: 100px;
    /*display: none;*/
}
.logo_escrito{
    width: 100px;
    padding: 0px 24px;
    /*display: none;*/
}
.wrapper{
    height: 96px;
    width: 100%;
}
body{
    margin: 0px 0px 0px 0px;
}